---
import StrapiImage from "../shared/StrapiImage.astro";
import Tag from "../shared/Tag.astro";
import { formatDate } from "../../lib/helpers";
import type { BlogPost, StrapiEntity } from "../../types/strapi";
import { ROUTES } from "../../constants/routes";

type Props = {
  blogPost: StrapiEntity<BlogPost>;
  className?: string;
};

const { 
  blogPost: {
    title, 
    slug,
    description, 
    coverImage, 
    createdAt, 
    updatedAt, 
    tags = []
  },
  className = "",
} = Astro.props;

function formattedDate() {
  if (updatedAt !== createdAt) {
    return `Updated - ${formatDate(new Date(updatedAt))}`;
  }
  
  return formatDate(new Date(createdAt));
}
---

<div class:list={["block", className]}>
  <div>
    <p class="text-gruvbox-bg4 text-[12px] p-1 select-none">{formattedDate()}</p>
  </div>
  <a 
    href={ROUTES.work.path({ slug: slug })} 
    class="group block no-underline"
  >
    <div
      class="rounded-lg flex flex-col border-2 border-gruvbox-bg2 group-hover:border-gruvbox-blue bg-gruvbox-bg1 shadow-md overflow-hidden"
    >
      <StrapiImage
        image={coverImage?.[0]}
        className="h-40 aspect-video"
        size="small"
      />
      <div class="p-4 space-y-3">
        <div class="h-5">
          <h2 class="text-xl font-gnuolane uppercase tracking-wide font-bold text-gruvbox-fg0">{title}</h2>
        </div>
        <div>
          <p class="text-gruvbox-fg5 line-clamp-3">{description}</p>
        </div>
        <div>
          {
            tags && tags.length > 0 && (
              <div class="flex flex-wrap gap-2">
                {tags.map((tag) => (
                  <Tag tag={tag} />
                ))}
              </div>
            )
          }
        </div>
      </div>
    </div>
  </a>
</div>